{ "db_hostname": "mysgbd.example.com",
  "db_password": "myrootpassword",
  "db_port": 3306,
  "db_arch_hostname": "myarchive.example.com",
  "db_arch_port": 3306,
  "api_public_url": "https://myapi.example.com",
  "api_local_port": 5562,
  "idp_url": "https://idp.example.com",
  "idp_realm": "myrealm",
  "Access-Control-Allow-Origin": "*",
  "log_level": 6,
}
