[Unit]
Description=Abls-Habitat API System
Documentation=https://docs.abls-habitat.fr
After=syslog.target network.target auditd.service mariadb.service

[Service]
ExecStart=/usr/local/bin/abls-habitat-api
ExecReload=/bin/kill -USR2 $MAINPID
Restart=always
RestartSec=10
Nice=10
Type=simple
DynamicUser=yes
Group=abls
StateDirectory=abls-habitat-api

[Install]
WantedBy=multi-user.target

