{ "db_hostname": "sgbd.abls-habitat.fr",
  "db_password": "rootpassword",
  "db_port": 3306,
  "db_arch_hostname": "archives.abls-habitat.fr",
  "db_arch_port": 3308,
  "api_port": 5562,
  "idp_url": "https://idp.abls-habitat.fr",
  "idp_realm": "abls-habitat",
  "Access-Control-Allow-Origin": "*",
}
